/* My Fonts */

@font-face {
 font-family: 'Zrnic';
 src: url('Zrnic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 font-family: 'DroidSansMono';
 src: url('DroidSansMono.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 font-family: 'GoMono';
 src: url('GoMono.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 font-family: 'FiraCode';
 src: url('FiraCode.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 font-family: 'DejaVuSansMono';
 src: url('DejaVuSansMono.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 font-family: 'Monofur';
 src: url('Monofur.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
 font-family: 'Symbols';
 src: url('Symbols.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
background-image: url('img.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-color: #010006;
text-align: center;
margin: 0px;
overflow: hidden;
font-family: 'Zrnic';
animation: textshow;
animation-duration: 0.5s;
}

h1 {
/*font-family: 'Zrnic';*/
/*animation-fill-mode: forwards;*/
}

a {
text-decoration: none;
}

footer {
padding-top: 0px;
font-size: 36px;
color: #999;
}

#marquee {
font-family: 'DejaVuSansMono';
font-size: 32px;
width: 2300px;
text-align: left;
padding-left: 100vw;
animation: marquee infinite;
animation-duration: 70s;
animation-delay: 5s;

} 

#msgs {
visibility: hidden;
font-size: 70px;
color: white;
animation: textshow;
animation-duration: 0.5s;
animation-delay: 0.3s;
animation-fill-mode: forwards;
} 

#msgs2 {
opacity: 0;
padding-bottom: 0px;
font-size: 48px;
text-align: center;
color: #e69b00;
animation-duration: 0.2s;
animation-delay: 0.5s;
animation-fill-mode: forwards;
} 

.box {
width: 100hv;
height: 57vh;
position: static;
} 

.btn {
background-color: #003263;
color: white;
width: 227px;
height: 46px;
padding-bottom: 5px;
text-align: center;
font-size: 20px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 5px;
margin-right: 5px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-left-width: 0px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 8px;
}

.btn:hover {
background-color: #0058b1;
}

/* Effects & Animations */

.bounching { animation: textbounch; } 
.shaking { animation: textshake; } 
.hiding { animation: textfadeout; } 
.showing {animation: textshow; } 
.zooming {animation: textzoom; } 
.marquee {animation: textmarquee; } 

@keyframes textbounch {
     0% { font-size: 0px;  }
    20% { font-size: 78p8; } 
    40% { font-size: 28px; }
    60% { font-size: 78px; }
    80% { font-size: 38px; opacity: 1; }
  100% { opacity: 1; }
}
@keyframes textshake {
     0% { font-size: 0px;  }
    20% { font-size: 78p8; transform: rotate(15deg); } 
    40% { font-size: 28px; transform: rotate(-25deg); }
    60% { font-size: 78px; transform: rotate(15deg); }
    80% { font-size: 38px; opacity: 1; transform: rotate(-5deg); }
  100% { opacity: 1; }
}
@keyframes textzoom {
        0% { font-size: 0; opacity: 0; } 
    100% { font-size: 48; opacity: 1; visibility: visible; } 
}
@keyframes textshow {
        0% { opacity: 0; } 
    100% { opacity: 1; visibility: visible; } 
}

@keyframes textfadeout {
      0% { opacity: 1; } 
    100% { opacity: 0;  visibility: hidden; } 
}

@keyframes marquee {
	0% {opacity: 0; }
	15% {opacity: 1; } 
	100% {transform: translateX(-2300px); }

} 