@font-face {
 font-family: 'Zrnic';
 src: url('Zrnic.woff2') format('woff2'),
         url('Zrnic.ttf') format('truetype'),
         url('Zrnic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
background-image: url('img.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-color: black;
text-align: center;
margin: 0px;
overflow: hidden;
font-family: 'Zrnic';
animation: textbounch;
animation-duration: 1s;
}

h1 {
/*font-family: 'Zrnic';*/
}

a {
text-decoration: none;
}

#msgs {
font-size: 70px;
/*margin-top: 10px;*/
color: white;
animation: textshow;
animation-duration: 1s;
} 

#msgs2 {
font-size: 48px;
text-align: center;
color: #e69b00;
animation-duration: 0.35s;
} 

.box {
width: 100hv;
height: 60vh;
position: static;
} 

.btn {
background-color: #003263;
color: white;
width: 227px;
height: 46px;
padding-bottom: 5px;
text-align: center;
font-size: 20px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 5px;
margin-right: 5px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-left-width: 0px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 8px;
}

.btn:hover {
background-color: #0058b1;
}

/* Effects & Animations */

.bounchingtext { animation: textbounch; } 
.hidetext { animation: textfadeout; } 
.showtext {animation: textshow; } 

@keyframes textbounch {
      0% { font-size: 0px;  opacity: 0; } 
    20% { font-size: 78p8; } 
    40% { font-size: 28px; }
    60% { font-size: 78px; }
    80% { font-size: 38px; opacity: 1; }
}

@keyframes textshow {
         0% { opacity: 0; } 
    100% { opacity: 1; visibility: visible; } 
}

@keyframes textfadeout {
         0% { opacity: 1; } 
    100% { opacity: 0;  visibility: hidden; } 
}